:root {
    --sidebar-rounded: .5rem;
    --sidebar-min-width: 10rem;
}

#toggle-sidebar {

    border-radius: var(--sidebar-rounded);
    min-width: var(--sidebar-min-width);
    font-size: 20px;
    /* Увеличиваем размер текста */
    font-weight: bold;
    /* Делаем текст жирным */
    background-color: #ffffff;
    /* Убираем фон (если нужно) */
    border: none;
    /* Убираем рамку */
    cursor: pointer;
    /* Указатель при наведении */
    color: #000000;
    /* Цвет текста */
    /* padding: 5px 0px; */
    /* Отступы внутри кнопки */
}

/* Выпадающее меню */
#dropdown-menu {
    border-radius: var(--sidebar-rounded);
    min-width: var(--sidebar-min-width);
    display: none;
    /* Скрыто по умолчанию */
    position: absolute;
    top: 60px;
    /* Расстояние от кнопки */
    left: 20px;
    background-color: white;
    /* Белый фон */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Тень */
    overflow: hidden;
    z-index: 500;
    animation: fadeIn 0.3s ease-in-out;
    /* Анимация */
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* Убираем маркеры списка */
    /* margin: 0; */
    gap: .5rem;
    padding: .5rem;
    margin: 0;
}

.nav-item {
    padding: .5rem;
    padding-left: .6rem;
    padding-right: .6rem;
    border-radius: .3rem;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.nav-item:hover {
    /* Фон при наведении */
    background-color: #f1f1f1;
}

.nav-item:focus {
    /* Фон при наведении */
    background-color: lightgray;
}
