
[Unit]
Description=ArtGallery client
Requires=art-gallery-server.service

[Service]
Type=simple
ExecStart=/root/art-gallery/start.sh client
Restart=always

[Install]
WantedBy=default.target
